@font-face{
    font-family: Poppins;
    src: url('/src/assets/fonts/Poppins-Regular.ttf');
}
.slight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    position: fixed;
    z-index: 15;
    width: 100%;
    background: transparent;
    font-family: Poppins;
    color: white;
    transition: 0.6s ease;
}
.changed{
    background: silver;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    position: fixed;
    z-index: 15;
    width: 100%;
    font-family: Poppins;
    transition: 0.6s ease;
}
.changed a{
   color: black;
   
}
.changed .logo a{
    color: black;
}
.changed .links a{
    color: black;
}
nav a{
    text-decoration: none;
    color: black;
}
.logo a{
    color: white;
    font-size: 28px;
}
.links{
    display: flex;
    gap: 15px;
}
.links a{
    padding: 10px;
}
.links a:hover{
    color: grey;
    transition: 1.5s ease;
    
}
.hamburger{
    cursor: pointer;
    display: none;
}
.menu{
    height: 100vh;
    width: 70%;
    /* width: 500px; */
    max-width: 500px;
    background-color: rgb(33, 33, 33);
    display: flex;
    gap: 20px;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.menuLinks{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.menuLinks a:hover{
    color: grey;
    transition: 1.5s ease;
}
.leftSide{
    width: 90%;
}
.menuLinks a{
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: white;
}
